<%- include('header.html') -%>
    <main class="board-container">
        <div class="board">
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
        </div>
        <div class="flex-between">
            <p id="player"></p>
            <p id="ai"></p>
        </div>
        <div id="message-container" class="flex-center">
            <p id="message"></p>
            <button id="play-again-btn">play again</button>
        </div>
    </main>
    <script src="/js/ai.js"></script>
    </body>

    </html>