<%- include('header.html') -%>
    <main>
        <!-- <div class="board-container"> -->
        <div class="board">
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
        </div>
        <div class="flex-between">
            <p id="player"></p>
            <p id="ai"></p>
        </div>
        <div id="message" class="flex-center"></div>
        <!-- </div> -->

    </main>
    <script src="/js/ai.js"></script>
    </body>

    </html>