<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic tac toe</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <script async data-domains="tictactoe.filipkowalewski.xyz" src="https://umami.filipkowalewski.xyz/script.js" data-website-id="23980fee-b4d2-45b4-b50f-143a24627964"></script>
</head>

<body>