<%- include('header.html') -%>
    <!-- <div class="board"></div>
    <main class="nav">
        <a href="/ai">PLAY VS AI</a>
        <a href="/local">PLAY LOCALY</a>
        <a href="/online">PLAY ONLINE</a>
    </main> -->
    <main class="board-container">
        <div class="board">
            <div class="field"><a class="a-field" href="/ai">PLAY VS AI</a></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field"><a class="a-field" href="/local">PLAY LOCALY</a></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field"><a class="a-field" href="/online">PLAY ONLINE</a></div>
        </div>
    </main>
    </body>

    </html>