<%- include('header.html') -%>
    <main class="board-container nav-board">
        <div class="board">
            <a class="a-field field" href="/ai">PLAY VS AI</a>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <a class="a-field field" href="/local">PLAY LOCALY</a>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <div class="field disabled"></div>
            <a class="a-field field" href="/online">PLAY ONLINE</a>
        </div>
    </main>
    </body>

    </html>