<%- include('header.html') -%>
    <main class="board-container">

        <dialog id="info">
            <form id="info-form">
                <input name="username" type="text" placeholder="username" required>
                <button type="submit">join</button>
            </form>
        </dialog>

        <div class="board">
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
            <div class="field"></div>
        </div>

        <div class="flex-between">
            <p id="player-0"></p>
            <p id="player-1"></p>
        </div>
        <ul id="logs"></ul>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/online.js"></script>
    </body>

    </html>